In [21]:
import requests

url = 'https://api.coingecko.com/api/v3/'
headers = {
    "accept": "application/json",
    "x-cg-demo-api-key": "CG-MDXzwMkZTEMXsp5ktsHGZZWa"
    }

endp_topten = 'coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1'

In [39]:
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
#Conexion Base de Datos
usuario = 'mariam'
passw = 'Abc123'
Servidor ='Mcrgz\\MSSQLSERVERF'
Base = 'Crypto'
db_conexion = f'mssql+pyodbc://{usuario}:{passw}@{Servidor}/{Base}?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(db_conexion)



df_crypto = pd.read_sql('Select IDCrypto,Crypto from Crypto with (nolock)',engine)

In [23]:
response = requests.get(url+endp_topten, headers=headers)

In [25]:
import pandas as pd

In [27]:
response_data =  response.json()

In [69]:
df = pd.DataFrame(response_data)

In [13]:
df.columns

Index(['id', 'symbol', 'name', 'image', 'current_price', 'market_cap',
       'market_cap_rank', 'fully_diluted_valuation', 'total_volume',
       'high_24h', 'low_24h', 'price_change_24h',
       'price_change_percentage_24h', 'market_cap_change_24h',
       'market_cap_change_percentage_24h', 'circulating_supply',
       'total_supply', 'max_supply', 'ath', 'ath_change_percentage',
       'ath_date', 'atl', 'atl_change_percentage', 'atl_date', 'roi',
       'last_updated'],
      dtype='object')

In [15]:
df_dato_general = df[['id', 'symbol', 'name', 'image']]

In [17]:
df_dato_general.columns = ['Crypto', 'Symbol', 'Name', 'Image']

In [77]:
df_market = df[['id','current_price', 'market_cap',
       'market_cap_rank', 'fully_diluted_valuation', 'total_volume',
       'high_24h', 'low_24h', 'price_change_24h',
       'price_change_percentage_24h', 'market_cap_change_24h',
       'market_cap_change_percentage_24h', 'circulating_supply',
       'total_supply', 'max_supply', 'ath', 'ath_change_percentage',
       'ath_date', 'atl', 'atl_change_percentage', 'atl_date', 'roi',
       'last_updated']]

In [79]:
df_market

,id,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,76171.000000,1510942970427,1,1510942970427,61117474563,80109.000000,74773.000000,-3758.189086,-4.70190,...,1.984877e+07,2.100000e+07,108786.000000,-30.00955,2025-01-20T09:11:54.494Z,67.810000,1.121852e+05,2013-07-06T00:00:00.000Z,None,2025-04-09T12:09:47.774Z
1,ethereum,1452.280000,175397836910,2,175397836910,31554729649,1586.380000,1398.620000,-133.983563,-8.44650,...,1.206785e+08,NaN,4878.260000,-70.19935,2021-11-10T14:24:19.604Z,0.432979,3.356562e+05,2015-10-20T00:00:00.000Z,"{'times': 24.48502449775379, 'currency': 'btc'...",2025-04-09T12:09:50.592Z
2,tether,0.999493,143942430798,3,143942430798,87923792615,0.999725,0.998787,-0.000199,-0.01991,...,1.440144e+11,NaN,1.320000,-24.45731,2018-07-24T00:00:00.000Z,0.572521,7.457905e+01,2015-03-02T00:00:00.000Z,None,2025-04-09T12:09:50.575Z
3,ripple,1.780000,103664165108,4,177863552262,6411870182,1.970000,1.730000,-0.177826,-9.06737,...,9.998628e+10,1.000000e+11,3.400000,-47.65333,2018-01-07T00:00:00.000Z,0.002686,6.612631e+04,2014-05-22T00:00:00.000Z,None,2025-04-09T12:09:47.036Z
4,binancecoin,550.620000,80302131154,5,80302131154,1084996102,564.990000,538.120000,-12.279611,-2.18151,...,1.458876e+08,2.000000e+08,788.840000,-30.23897,2024-12-04T10:35:25.220Z,0.039818,1.381962e+06,2017-10-19T00:00:00.000Z,None,2025-04-09T12:09:47.378Z
5,usd-coin,0.999952,60138030022,6,60239320053,15414084689,1.000000,0.999780,-0.000010,-0.00104,...,6.024680e+10,NaN,1.170000,-14.73773,2019-05-08T00:40:28.300Z,0.877647,1.392694e+01,2023-03-11T08:02:13.981Z,None,2025-04-09T12:09:51.118Z
6,solana,103.680000,53303284529,7,61836513735,6765166958,111.370000,101.860000,-7.693977,-6.90852,...,5.981338e+08,NaN,293.310000,-64.75122,2025-01-19T11:15:27.957Z,0.500801,2.054470e+04,2020-05-11T19:35:23.449Z,None,2025-04-09T12:09:47.761Z
7,tron,0.227666,21618211672,8,21618331252,887250118,0.236470,0.226703,-0.007969,-3.38182,...,9.497113e+10,NaN,0.431288,-47.21565,2024-12-04T00:10:40.323Z,0.001804,1.251694e+04,2017-11-12T00:00:00.000Z,"{'times': 118.82424158759342, 'currency': 'usd...",2025-04-09T12:09:49.819Z
8,dogecoin,0.143966,21399588653,9,21402829741,2052765879,0.156152,0.137631,-0.012090,-7.74720,...,1.487790e+11,NaN,0.731578,-80.33485,2021-05-08T05:08:23.458Z,0.000087,1.654463e+05,2015-05-06T00:00:00.000Z,None,2025-04-09T12:09:48.785Z
9,cardano,0.558410,20109807199,10,25134697579,1384357957,0.616073,0.540605,-0.048100,-7.93061,...,4.500000e+10,4.500000e+10,3.090000,-81.90769,2021-09-02T06:00:10.474Z,0.019253,2.800851e+03,2020-03-13T02:22:55.044Z,None,2025-04-09T12:09:48.310Z

In [63]:
df_crypto

    IDCrypto           Crypto
0         54             aave
1         67         algorand
2         40            aptos
3         70         arbitrum
4         17      avalanche-2
..       ...              ...
95        90    worldcoin-wld
96        12  wrapped-bitcoin
97        35     wrapped-eeth
98        19    wrapped-steth
99        74  xdce-crowd-sale

[100 rows x 2 columns]

In [81]:
df_market2 = pd.merge(df_crypto,df_market,left_on = 'Crypto',right_on = 'id')

In [83]:
df_market2.head()

,IDCrypto,Crypto,id,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,low_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,5,binancecoin,binancecoin,550.620000,80302131154,5,80302131154,1084996102,564.990000,538.120000,...,1.458876e+08,2.000000e+08,788.840000,-30.23897,2024-12-04T10:35:25.220Z,0.039818,1.381962e+06,2017-10-19T00:00:00.000Z,None,2025-04-09T12:09:47.378Z
1,1,bitcoin,bitcoin,76171.000000,1510942970427,1,1510942970427,61117474563,80109.000000,74773.000000,...,1.984877e+07,2.100000e+07,108786.000000,-30.00955,2025-01-20T09:11:54.494Z,67.810000,1.121852e+05,2013-07-06T00:00:00.000Z,None,2025-04-09T12:09:47.774Z
2,10,cardano,cardano,0.558410,20109807199,10,25134697579,1384357957,0.616073,0.540605,...,4.500000e+10,4.500000e+10,3.090000,-81.90769,2021-09-02T06:00:10.474Z,0.019253,2.800851e+03,2020-03-13T02:22:55.044Z,None,2025-04-09T12:09:48.310Z
3,8,dogecoin,dogecoin,0.143966,21399588653,9,21402829741,2052765879,0.156152,0.137631,...,1.487790e+11,NaN,0.731578,-80.33485,2021-05-08T05:08:23.458Z,0.000087,1.654463e+05,2015-05-06T00:00:00.000Z,None,2025-04-09T12:09:48.785Z
4,2,ethereum,ethereum,1452.280000,175397836910,2,175397836910,31554729649,1586.380000,1398.620000,...,1.206785e+08,NaN,4878.260000,-70.19935,2021-11-10T14:24:19.604Z,0.432979,3.356562e+05,2015-10-20T00:00:00.000Z,"{'times': 24.48502449775379, 'currency': 'btc'...",2025-04-09T12:09:50.592Z

In [87]:
df_market2 = df_market2.drop(columns = ['Crypto','id'])

In [89]:
df_market2

,IDCrypto,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,5,550.620000,80302131154,5,80302131154,1084996102,564.990000,538.120000,-12.279611,-2.18151,...,1.458876e+08,2.000000e+08,788.840000,-30.23897,2024-12-04T10:35:25.220Z,0.039818,1.381962e+06,2017-10-19T00:00:00.000Z,None,2025-04-09T12:09:47.378Z
1,1,76171.000000,1510942970427,1,1510942970427,61117474563,80109.000000,74773.000000,-3758.189086,-4.70190,...,1.984877e+07,2.100000e+07,108786.000000,-30.00955,2025-01-20T09:11:54.494Z,67.810000,1.121852e+05,2013-07-06T00:00:00.000Z,None,2025-04-09T12:09:47.774Z
2,10,0.558410,20109807199,10,25134697579,1384357957,0.616073,0.540605,-0.048100,-7.93061,...,4.500000e+10,4.500000e+10,3.090000,-81.90769,2021-09-02T06:00:10.474Z,0.019253,2.800851e+03,2020-03-13T02:22:55.044Z,None,2025-04-09T12:09:48.310Z
3,8,0.143966,21399588653,9,21402829741,2052765879,0.156152,0.137631,-0.012090,-7.74720,...,1.487790e+11,NaN,0.731578,-80.33485,2021-05-08T05:08:23.458Z,0.000087,1.654463e+05,2015-05-06T00:00:00.000Z,None,2025-04-09T12:09:48.785Z
4,2,1452.280000,175397836910,2,175397836910,31554729649,1586.380000,1398.620000,-133.983563,-8.44650,...,1.206785e+08,NaN,4878.260000,-70.19935,2021-11-10T14:24:19.604Z,0.432979,3.356562e+05,2015-10-20T00:00:00.000Z,"{'times': 24.48502449775379, 'currency': 'btc'...",2025-04-09T12:09:50.592Z
5,4,1.780000,103664165108,4,177863552262,6411870182,1.970000,1.730000,-0.177826,-9.06737,...,9.998628e+10,1.000000e+11,3.400000,-47.65333,2018-01-07T00:00:00.000Z,0.002686,6.612631e+04,2014-05-22T00:00:00.000Z,None,2025-04-09T12:09:47.036Z
6,7,103.680000,53303284529,7,61836513735,6765166958,111.370000,101.860000,-7.693977,-6.90852,...,5.981338e+08,NaN,293.310000,-64.75122,2025-01-19T11:15:27.957Z,0.500801,2.054470e+04,2020-05-11T19:35:23.449Z,None,2025-04-09T12:09:47.761Z
7,3,0.999493,143942430798,3,143942430798,87923792615,0.999725,0.998787,-0.000199,-0.01991,...,1.440144e+11,NaN,1.320000,-24.45731,2018-07-24T00:00:00.000Z,0.572521,7.457905e+01,2015-03-02T00:00:00.000Z,None,2025-04-09T12:09:50.575Z
8,9,0.227666,21618211672,8,21618331252,887250118,0.236470,0.226703,-0.007969,-3.38182,...,9.497113e+10,NaN,0.431288,-47.21565,2024-12-04T00:10:40.323Z,0.001804,1.251694e+04,2017-11-12T00:00:00.000Z,"{'times': 118.82424158759342, 'currency': 'usd...",2025-04-09T12:09:49.819Z
9,6,0.999952,60138030022,6,60239320053,15414084689,1.000000,0.999780,-0.000010,-0.00104,...,6.024680e+10,NaN,1.170000,-14.73773,2019-05-08T00:40:28.300Z,0.877647,1.392694e+01,2023-03-11T08:02:13.981Z,None,2025-04-09T12:09:51.118Z

In [95]:
df_market2.dtypes[df_market2.dtypes == 'object']

ath_date        object
atl_date        object
roi             object
last_updated    object
dtype: object

In [111]:
pd.to_datetime(df_market2['atl_date'])

0          2017-10-19 00:00:00+00:00
1          2013-07-06 00:00:00+00:00
2   2020-03-13 02:22:55.044000+00:00
3          2015-05-06 00:00:00+00:00
4          2015-10-20 00:00:00+00:00
5          2014-05-22 00:00:00+00:00
6   2020-05-11 19:35:23.449000+00:00
7          2015-03-02 00:00:00+00:00
8          2017-11-12 00:00:00+00:00
9   2023-03-11 08:02:13.981000+00:00
Name: atl_date, dtype: datetime64[ns, UTC]